<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Dashboard</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'userDashboard/js/admin_dashboard.js' %}"></script>
</head>
<body>
    <div class='top'>
        <ul class='nav'>
            <li class='nav-item'>
                <p class='mt-2 ml-5 mr-3 font-weight-bold'>Messenger</p>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href="/dashboard/admin"><b>Dashboard</b></a>
            </li>
            <li class='nav-item'>
                    <a class='nav-link' href="/profile/{{request.session.user_id}}">Profile</a>
            </li>
            <li class='nav-item'>
                    <a class='nav-link' href="/unread">Unread Messages: {{total_unread.count}}</a>
            </li>
            <li class='mr-5 nav-item ml-auto'>
                <a class='nav-link' href="/logout">Log Out</a>
            </li>
        </ul>
        <hr class='m-0'>
    </div>
    <div class='container'>
        <div class='row mt-5'>
            <h4>Manage Users</h2>
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == "delete_error error" %}
                <p class='ml-3 my-auto text-danger p-0'>{{message}}</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            <a class='btn btn-primary ml-auto border border-dark' href='/add_new'>Add New</a>
        </div>
        <table class="table table-hover mt-4">
            <thead class=''>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>User Level</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td><a href='/profile/{{user.id}}'>{{user.first_name}} {{user.last_name}}</a></td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <td>{{user.admin_level}}</td>
                    <td>
                        <a class='mr-4'href='/edit/profile/{{user.id}}'>Edit</a>
                        <a tabindex="0" 
                        class="popover-dismiss"
                        role="button" 
                        data-toggle="popover"
                        data-trigger="focus" 
                        title="Are you sure?"
                        data-html="true"
                        data-content="<a class='py-1 btn btn-danger border border-dark' href='/delete/{{user.id}}'>Remove</a><a class='py-1 ml-3 btn btn-primary border border-dark' href=''>Cancel</a>">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class ='row'>
            <div class='left-column col-lg-6'>
        <h4 class ='mt-5'>Most Recent Messages</h4>
        {% for message in user_messages %}
            <div class='card mt-3 border border-dark'>
                <div class ='card-body'>
                    <h5 class='card-title'><a href='/profile/{{message.sender.id}}'>{{message.sender.first_name}} {{message.sender.last_name}}</a> messaged:</h5>
                    <h6 class='card-subtitle mb-2 text-muted'>{{message.created_at}}</h6>
                    <p class='card-text'>{{message.message}}</p>
                </div>
            </div>
        {% endfor %}
            </div>
            <div class='col-lg-6 right-column'>
                    <h4 class='mt-5'>Friends List</h4>
                    {% for message in user_messages %}
                    <div class='card mt-3 border border-dark'>
                        <div class ='card-body'>
                            <h5 class='card-title'><a href='/profile/{{message.sender.id}}'>{{message.sender.first_name}} {{message.sender.last_name}}</a> messaged:</h5>
                            <h6 class='card-subtitle mb-2 text-muted'>{{message.created_at}}</h6>
                            <p class='card-text'>{{message.message}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>