<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Dashboard</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'userDashboard/css/web_theme.css' %}">
</head>
<body>
    <div class='top'>
        <ul class='nav'>
            <li class='nav-item my-auto'>
                <p class='mt-2 ml-5 mr-3 font-weight-bold'>ConnectUs</p>
            </li>
            <li class='nav-item my-auto'>
                <a class='nav-link' href="/dashboard">Dashboard</a>
            </li>
            {% if user.admin_level == "superadmin" or user.admin_level == "admin" %}
            <li class='nav-item my-auto'>
                <a class='nav-link' href="/manage_users">Manage Users</a>
            </li>
            {% endif %}
            <li class='nav-item my-auto'>
                    <a class='nav-link' href="/profile/{{request.session.user_id}}">Profile</a>
            </li>
            {% if total_unread.count > 0 %}
            <li class='nav-item my-auto'>
                    <a class='nav-link' href="/unread">Unread Messages: {{total_unread.count}}</a>
            </li>
            {% endif %}
            {% if friend_requests.count > 0 %}
            <li class='nav-item my-auto'>
                <a class='nav-link' href="/friend_requests"><b>Friend Requests: {{friend_requests.count}}</b></a>
            </li>
            {% endif %}
            <li class='nav-item ml-auto my-auto'>
                <form method="GET" action='search_results'>
                    <label for ='search_name' class='sr-only'>Search: </label>
                    <div class='row'>
                    <input class='col-lg-10 form-control' type='text' placeholder='Search...' name="search_name">
                    <a href="#"><img id='magnify' src="{% static 'userDashboard/images/magnifier-tool.png' %}"></a>
                    </div>
                </form>
            </li>
            <li class='mr-5 nav-item ml-3 my-auto'>
                <a class='nav-link' href="/logout">Log Out</a>
            </li>
        </ul>
        <hr class='m-0'>
    </div>
    <div class='container'>
        {% if friend_requests.count > 0 %}
        <h4 class='mt-5'>Friend Requests</h4>
        {% else %}
        <h4 class='mt-5 text-center'>You have no more friend requests!</h4>
        {% endif %}
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "accept_request success" %}
            <p class='mr-3 my-auto text-success text-center p-0'>{{message}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "reject_request error" %}
            <p class='mr-3 my-auto text-danger text-center p-0'>{{message}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% for request in friend_requests %}
        <div class='card mt-3 border border-dark col-lg-6'>
            <div class ='card-body'>
                <div class='row ml-0 my-auto'>
                    {% if friend.friend_requester.img_link == None or friend.friend_requester.img_link == "" %}
                    <img id='miniprofile'class='mr-1' src="{% static 'userDashboard/images/no_profile.png' %}">
                    {% else %}
                    <img id='miniprofile' class='mr-1' src="{{friend.friend_requester.img_link}}">
                    {% endif %}
                    <h5 class='card-title ml-2 mt-3'><a href='/profile/{{request.friend_requester.id}}'>{{request.friend_requester.first_name}} {{request.friend_requester.last_name}}</a> wants to be friends! </h5>
                </div>
                <h6 class='card-subtitle mb-2 mt-3'><a class='btn mr-3' href='/accept/{{request.id}}'>Accept</a><a class='btn bg-secondary' href ='/reject/{{request.id}}'>Decline</a></h6>
            </div>
        </div>
        {% endfor %}
        <div class='bottom pt-3 pb-3 border-top mt-5'>
            <p>©ConnectUs Inc. · <a href=''>Privacy</a> · <a href=''>Terms</a></p>
        </div>  
    </div> 
</body>
</html>