<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Login and Registration</title>
  {% load static %}
  <link rel='stylesheet' href="{% static 'userDashboard/css/home_page.css' %}">
</head>
<body>
  <div class='top'>
    <ul class='nav'>
      <li class='nav-item'>
        <p class='mt-2 ml-5 mr-3 font-weight-bold'>ConnectUs</p>
      </li>
      <li class='mr-5 nav-item ml-auto my-auto'>
        <a class='nav-link' href='/signin'>Sign in</a>
      </li>
    </ul>
  </div>
  <div class='jumbotron mb-5 mt-3 text-center'>
    <div class='col-md-8 mx-auto'>
      <h1 class='display-5'>Welcome to the messaging app!</h1>
      <p>This is a simple messaging application where you can send messages back and forth along with commenting on what others have said. Keep in mind everthing you send to each other is open, so don't post anything you don't want thers to see!</p>
      <div class='row'>
        <a class='btn btn-sm border border-dark mx-auto' href="/registration">Join Us!</a>
      </div>
    </div>
  </div>
    <div class='container'>
      <div class='row border-top'>
        <div class='col-lg-7 my-auto'>
          <h2>Manage Users</h2>
          <p class='text-secondary'>Admins can add or remove users, edit and manage profiles, or change user priveleges.</p>
        </div>
        <div class='col-lg-5'>
          <img class='mt-5 mb-5' src='static/userDashboard/images/manage_users.jpg'>
        </div>
      </div>
      <div class='row border-top'>
        <div class='col-lg-5'>
          <img class='mt-5 mb-5' src='static/userDashboard/images/use_anywhere.jpg'>
        </div>
        <div class='col-lg-7 my-auto'>
          <h2>Leave Messages</h2>
          <p class='text-secondary'>Users will be able to leave a message to each other using ConnectUs and receive comments from others as well. You can use it anywhere and anytime!</p>
        </div>
      </div>
        <div class='row border-top'>
          <div class='col-lg-7 my-auto'>
            <h2>Meet Others</h2>
            <p class='text-secondary'>Using ConnectUs, you'll be able to add friends, find new people, or try to reconnect with lost friendships. </p>
          </div>
          <div class='col-lg-5'>
            <img class='mt-5' src='static/userDashboard/images/home_page.jpg'>
          </div>
        </div>
        <div class='bottom pt-3 pb-3'>
          <div class='row'>
            <p>©ConnectUs Inc. · <a href=''>Privacy</a> · <a href=''>Terms</a></p>
            <a class='ml-auto' href=''>Back to top</a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
