<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login and Registration</title>
</head>
<body>
    <div class='top'>
        <ul class='nav'>
            <li class='ml- nav-item'>
                <p class='mt-2 ml-5 font-weight-bold'>Messenger</p>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href="/">Home</a>
            </li>
            <li class='mr-5 nav-item ml-auto'>
                <a class='nav-link' href='/signin'>Sign in</a>
            </li>
        </ul>
        <hr class='m-0'>
    </div>
    <div class='container'>
        <div class='jumbotron mt-2'>
            <h1 class='display-5'>Welcome to the messaging app!</h1>
            <p>This is a simple messaging application where you can send messages back and forth along with commenting on what others have said. Keep in mind everthing you send to each other is open, so don't post anything you don't want thers to see!</p>
            <a class='btn btn-primary border border-dark' href="/registration">Start</a>
        </div>
        <div class='row d-flex justify-content-around'>
            <div class='col-lg-4 text-center'>
                <p class='font-weight-bold'>Manage Users</p>
                <p>Using this application as an admin, you'll be able to add, remove, and edit users for the application.</p>
            </div>
            <div class='col-lg-4 text-center'>
                <p class='font-weight-bold'>Leave Messages</p>
                <p>Users will be able to leave a message to another user using this application and receive comments from others as well.</p>
            </div>
            <div class='col-lg-4 text-center'>
                <p class='font-weight-bold'>Edit User Information</p>
                <p>Admins will be able to edit another user's information (email address, first name, last name, etc.)</p>
            </div>
        </div>
    </div>
</body>
</html>