<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login and Registration</title>
</head>
<body>
    <div class='top'>
        <ul class='nav'>
            <li class='ml- nav-item'>
                <p class='mt-2 ml-5 font-weight-bold'>Messenger</p>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href="/">Home</a>
            </li>
            <li class='mr-5 nav-item ml-auto'>
                <a class='nav-link' href='/signin'>Sign in</a>
            </li>
        </ul>
        <hr class='m-0'>
    </div>
    <div class='container'>
        <div class='jumbotron mt-2'>
            <h1 class='display-5'>Welcome to the Test</h1>
            <p>We're going to build a cool application using a MVC framework! This application was built with the village88 folks!</p>
            <a class='btn btn-primary' href="/registration">Start</a>
        </div>
        <div class='row d-flex justify-content-around'>
            <div class='col-lg-4 text-center'>
                <p class='font-weight-bold'>Manage Users</p>
                <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
            </div>
            <div class='col-lg-4 text-center'>
                <p class='font-weight-bold'>Leave Messages</p>
                <p>Users will be able to leave a message to another user using this application.</p>
            </div>
            <div class='col-lg-4 text-center'>
                <p class='font-weight-bold'>Edit User Information</p>
                <p>Admins will be able to edit another user's information (email address, first name, last name, etc.)</p>
            </div>
        </div>
    </div>
</body>
</html>