.top{
    background-color: #268BB4;
}
.top a{
    color: white;
}
.top p {
    color:white;
    font-size: 1.8rem;
}
.btn{
    background-color: #268BB4;
    color: white;
}
a{
    color: #268BB4;
}
#magnify{
    object-fit: contain;
    width: 37px;
    height: 37px;
}
#miniprofile{
    width: 60px;
    height: 60px;
}