.top{
    background-color: #268BB4;
}
.top a{
    color: white;
}
.top p {
    color:white;
    font-size: 1.8rem;
}
a{
    color: #268BB4;
}
#comment_btn{
    background-color: #268BB4;
    color: white;
}
#message_btn{
    background-color:#268BB4;
    color: white;
}
#glass{
    object-fit: contain;
    width: 37px;
    height: 37px;
}
#profile{
    width: 250px;
    height: 250px;
}
#miniprofile{
    width: 60px;
    height: 60px;
}