.form-signin {
    max-width: 330px;
    width: 100%;
    margin: auto;
    padding-top: 80px;
}

#messageBubble{
    height: 200px;
    width: 200px;
    object-fit: contain;
    width: 100%;
}
.top{
    background-color: #268BB4;
}
.top a{
    color: white;
}
.top p {
    color:white;
    font-size: 1.8rem;
}
.btn{
    background-color: #268BB4;
    color: white;
}
.container a{
    color: #268BB4;
}